:root {
  --border: 1px dashed aliceblue;
  --cellSize: calc(min(33vh, 33vw) - 50px);
}

body {
  background-color: #1a1a1a;
  color: beige;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

div[data-owner]:hover {
  animation: shake 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

#board {
  display: grid;
  grid-template-columns: repeat(3, var(--cellSize));
  grid-template-rows: repeat(3, var(--cellSize));
}

#board > div {
  text-align: center;
  vertical-align: middle;
  line-height: var(--cellSize);
  font-size: var(--cellSize);
}

#board > div[data-owner="1"] {
  color: lightblue;
}

#board > div[data-owner="0"] {
  color: lightpink;
}

#board > div:hover {
  background-color: cadetblue;
  cursor: pointer;
}

#board > div:nth-child(-n + 3) {
  border-bottom: var(--border);
}

#board > div:nth-child(3n + 1) {
  border-right: var(--border);
}

#board > div:nth-child(3n) {
  border-left: var(--border);
}

#board > div:nth-child(n + 7) {
  border-top: var(--border);
}
